{% include base_path %}

<div class="project-paper-card">
  <a class="project-paper-card__thumb" href="{{ base_path }}{{ post.url }}" rel="permalink">
    <img src="{{ post.paper_image | prepend: '/images/' | prepend: base_path }}" alt="{{ post.title }} paper preview">
  </a>
  <div class="project-paper-card__body">
    <h2 class="project-paper-card__title">
      <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ post.title }}</a>
    </h2>
    {% if post.authors %}
      <p class="project-paper-card__authors">{{ post.authors }}</p>
    {% endif %}
    {% if post.venue %}
      <p class="project-paper-card__venue"><em>{{ post.venue }}</em></p>
    {% endif %}
    {% if post.excerpt %}
      <p class="project-paper-card__excerpt">{{ post.excerpt }}</p>
    {% endif %}
    <div class="project-paper-card__actions">
      {% if post.articleurl %}
        <a href="{{ post.articleurl }}">AAAI</a>
      {% endif %}
      {% if post.paperurl %}
        <a href="{{ post.paperurl }}">PDF</a>
      {% endif %}
      <a href="{{ base_path }}{{ post.url }}" rel="permalink">Project</a>
    </div>
  </div>
</div>
