{% include base_path %}

<div class="project-paper-card publication-paper-card">
  <div class="project-paper-card__thumb">
    <img src="{{ post.paper_image | prepend: '/images/' | prepend: base_path }}" alt="{{ post.title }} paper preview">
  </div>
  <div class="project-paper-card__body">
    <h2 class="project-paper-card__title">{{ post.title }}</h2>
    {% if post.authors %}
      <p class="project-paper-card__authors">{{ post.authors }}</p>
    {% endif %}
    {% if post.display_venue %}
      <p class="project-paper-card__venue"><em>{{ post.display_venue }}</em></p>
    {% elsif post.venue %}
      <p class="project-paper-card__venue"><em>{{ post.venue }}</em></p>
    {% endif %}
    {% if post.excerpt %}
      <p class="project-paper-card__excerpt">{{ post.excerpt }}</p>
    {% endif %}
    <div class="project-paper-card__actions">
      {% if post.articleurl %}
        <a href="{{ post.articleurl }}">AAAI</a>
      {% endif %}
      {% if post.paperurl %}
        <a href="{{ post.paperurl }}">PDF</a>
      {% endif %}
    </div>
  </div>
</div>
